<head>
    <%- include('partials/head'); %>
</head>

<body>
    <header>
        <%- include('partials/header'); %>
    </header>
  <div class="container">
    <main role="main" class="pb-3">
        <div>

            <h4>Todo Details</h4>
            <dl class="row">
                <dt class="col-sm-2">
                    Title
                </dt>
                <dd class="col-sm-10">
        
                    <%=todos.title%>
                </dd>
        
                <!-- Dont show if there is no description -->
              
                    <dt class="col-sm-2">
                        Description
                    </dt>
                    <dd class="col-sm-10">
                        <%=todos.description%>
                    </dd>
                
                <dt class="col-sm-2">
                   Status
                </dt>
                <dd class="col-sm-10">
                    <%=todos.status%>
                </dd>
                <dt class="col-sm-2">
                    DueDate
                </dt>
                <dd class="col-sm-10">
                    <%=todos.DueDate%>
                </dd>
                <dt class="col-sm-2">
                    CreatedAtDate
                </dt>
                <dd class="col-sm-10">
                    <%=todos.CreatedAt%>
                </dd>
                <dt class="col-sm-2">
                    UpdatedAtDate
                </dt>
                <dd class="col-sm-10">
                    <%=todos.UpdatedAt%>
                </dd>
                <dd class="col-sm-10">
                    <a href="/todos/<%=todos._id%>/edit">Edit</a> |
                    <a href="/todos">Back</a> |
                    <form class="d-inline" method="POST" action="/todos/<%=todos._id%>/delete?_method=DELETE">
                                        
                        <a data-toggle="modal" href="#exampleModal<%=todos.id%>">
                            Delete
                        </a>
                      

                    <!-- Popup modal for DELETE-->

                    <%- include('partials/delete'); %>
                </form>
            </dd>
            </dl>
         
        </div>
        

    </main>
</div>

</body>
