<head>
    <%- include('partials/head'); %>
</head>

<body>
    <header>
        <%- include('partials/header'); %>
    </header>
  <div class="container">
    <main role="main" class="pb-3">
        <div>

            <h4>Todo Details</h4>
            <dl class="row">
                <dt class="col-sm-2">
                    Title
                </dt>
                <dd class="col-sm-10">
        
                    <%=details.title%>
                </dd>
        
                <!-- Dont show if there is no description -->
              
                    <dt class="col-sm-2">
                        Description
                    </dt>
                    <dd class="col-sm-10">
                        <%=details.description%>
                    </dd>
                
                <dt class="col-sm-2">
                   Status
                </dt>
                <dd class="col-sm-10">
                    <%=details.status%>
                </dd>
                <dt class="col-sm-2">
                    DueDate
                </dt>
                <dd class="col-sm-10">
                    <%=details.DueDate%>
                </dd>
                <dt class="col-sm-2">
                    CreatedAtDate
                </dt>
                <dd class="col-sm-10">
                    <%=details.CreatedAt%>
                </dd>
                <dt class="col-sm-2">
                    UpdatedAtDate
                </dt>
                <dd class="col-sm-10">
                    <%=details.UpdatedAt%>
                </dd>
                <dd class="col-sm-10">
                    <a href="/todos/<%=details.id%>/edit">Edit</a> |
                    <a href="/todos">Back</a> |
                <a data-toggle="modal" href="#exampleModal">
                    Delete
                </a>
                <%- include('partials/delete'); %>
            </dd>
            </dl>
         
        </div>
        

    </main>
</div>

</body>
