<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head'); %>
</head>

<body>

    <header>
        <%- include('partials/header'); %>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            <p>
                <a href="/todos/create">Add a new TODO</a>
            </p>
            <table class="table">
                   <!-- Search box-->
    <form method="GET" action="/todos">
        <div class="form-actions no-color">
            <p>
                Find by Title: <input type="text" name="searchString"/>
                <input type="submit" value="Search" class="btn btn-default" /> |
                <a href="/todos">Back to All Todos</a>
            </p>
        </div>
    </form>
                    <!-- Number of todos on page selector-->

    <form method="GET" action="/todos">
        <label for="pageSize">Number of TODOs on page:</label>
        <select name="pageSize" onchange="javascript:this.form.submit()">
            <option >Select page Size</option>
            <option value=3>3</option>
            <option value=6>6</option>
            <option value=50>50</option>
            <option value=100>100</option>
        </select>
    </form>

                <thead>
                    <tr>
                        <th>
                            Title
                        </th>

                        <th>
                            Description
                        </th>
                        <th>
                            DueDate
                        </th>
                        <th>
                            CreatedAt
                        </th>
                        <th>
                            UpdatedAtDate
                        </th>
                        <th>
                            <form method="GET" action="/todos">
                                <select name="checked"  onchange="javascript:this.form.submit()">
                                    <option >Status</option>
                                    <option value=1>Checked</option>
                                    <option value=0>Unchecked</option>
                                </select>
                            </form>
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <div class="container">
                    <tbody>
                        <% todos.map((todos,index)=>{%>
                            <tr>
                                <td>
                                    <a href="/todos/details/<%=todos._id%>">
                                        <%=todos.title%>
                                    </a>
                                </td>
                                <td>
                                    <%=todos.description%>
                                </td>
                                <td>
                                    <%=todos.dueDate%>
                                </td>
                                <td>
                                    <%=todos.createdAt%>
                                </td>
                                <td>
                                    <%=todos.updatedAt%>
                                </td>
                                <td>
                                    
                                    <% if(todos.status === true){ %>
                                        <input type="checkbox" id="status" name="status" value="true" checked disabled>
                                    <% } else{ %>
                                        <input type="checkbox" id="status" name="status" value="false" disabled>
                                    <% } %>
                                </td>
                                <td>
                                    <a href="/todos/<%=todos._id%>/edit">Edit</a> |
                                    <form method="POST" action="/todos/<%=todos._id%>?_method=DELETE">
                                        
                                        <a data-toggle="modal" href="#exampleModal<%=todos.id%>" >
                                            Delete
                                        </a>
                                      
                
                                    <!-- Popup modal for DELETE-->    
                                    <div class="modal fade" id="exampleModal<%=todos.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Delete confirmation</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    Are you shure you want to delete this TODO? 
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-success" >Submit</button>
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                                </td>
                            </tr>
                            <%}) %>

                    </tbody>

                </div>
            </table>
            <% if (pages > 0) { %>
                <ul class="pagination text-center">
                    <% if (current == 1) { %>
                        <li class="disabled" hidden><a>First</a></li>
                    <% } else { %>
                        <li><a href="/todos?page=1">First</a></li>
                    <% } %>

                    <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                    <% if (i !== 1) { %>
                        <li class="disabled" hidden><a>...</a></li>
                    <% } %>

                    <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                        <% if (i == current) { %>
                            <li class="active"><a><%= i %></a></li>
                        <% } else { %>
                            <li><a href="/todos?page=<%= i %>"><%= i %></a></li>
                        <% } %>
                        <% if (i == Number(current) + 4 && i < pages) { %>
                            <li class="disabled" hidden><a>...</a></li>
                        <% } %>
                    <% } %>

                    <% if (current == pages) { %>
                        <li class="disabled" hidden><a>Last</a></li>
                    <% } else { %>
                        <li><a href="/todos?page=<%= pages %>">Last</a></li>
                    <% } %>
                </ul>
            <% } %>
        </main>
    </div>

</body>

</html>